﻿
<!--
    This view displays details of a single song.  I am not currently using this
    feature in my application.
    Key Points:
    - Displays song details.
    - Includes a link to update the song.
-->
@model SongsFrom2000

<h3>@Model.Title Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Year Released</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Title</td>
        <td>@Model.Artist</td>
        <td>@Model.Genre</td>
        <td>@Model.YearReleased</td>
    </tr>
</table>
<div style="display: block">
    <a href="/SongsFrom2000/UpdateSong/@Model.ID">Update this Song</a>
</div>